<div class="skip_this">Follow 5+ business or groups and get started! or <span ng-click="createUser()">SKIP THIS</span></div>

<ul class="row">
  <li class="col-sm-3">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">Demo Title</a></h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="holder_form sub_but_white"><a href="#">Follow</a></div>
      </div>

    </div>
  </li>
  <li class="col-sm-3">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">Demo Title</a></h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="holder_form sub_but_white"><a href="#">Follow</a></div>
      </div>

    </div>
  </li>
  <li class="col-sm-3">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">Demo Title</a></h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="holder_form sub_but_white"><a href="#">Follow</a></div>
      </div>

    </div>
  </li>
  <li class="col-sm-3">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">Demo Title</a></h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="holder_form sub_but_white"><a href="#">Follow</a></div>
      </div>

    </div>
  </li>
  <li class="col-sm-3">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">Demo Title</a></h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="holder_form sub_but_white"><a href="#">Follow</a></div>
      </div>

    </div>
  </li>
  <li class="col-sm-3">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">Demo Title</a></h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="holder_form sub_but_white"><a href="#">Follow</a></div>
      </div>

    </div>
  </li>
  <li class="col-sm-3">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">Demo Title</a></h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="holder_form sub_but_white"><a href="#">Follow</a></div>
      </div>

    </div>
  </li>
  <li class="col-sm-3">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">Demo Title</a></h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="holder_form sub_but_white"><a href="#">Follow</a></div>
      </div>

    </div>
  </li>
  <li class="col-sm-3">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">Demo Title</a></h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="holder_form sub_but_white"><a href="#">Follow</a></div>
      </div>

    </div>
  </li>
  <li class="col-sm-3">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">Demo Title</a></h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="holder_form sub_but_white"><a href="#">Follow</a></div>
      </div>

    </div>
  </li>
  <li class="col-sm-3">
    <div class="product-start">
      <img alt="0" src="images/img1.jpg">
      <div class="products_details_main">
        <div class="pop_icon"><i class="fa fa-group"></i></div>
        <h3><a href="#">Demo Title</a></h3>
        <p>Lorem ipsum dolor sit amet...</p>
        <div class="holder_form sub_but_white"><a href="#">Follow</a></div>
      </div>

    </div>
  </li>
  <li class="col-sm-3">
    <div class="holder_div_inn loadmore"> <a href="#">Load More +</a> </div>
  </li>
</ul>