<div class="content">
  <div class="container">
    <h1 class="page_title title-width"><span class="span_white_bg">REGISTRATION</span></h1>

    <div class="skip_this">Which one describes you?</div>

    <div class="registration2">
      <ul>
        <li><a ui-sref="individualReg.step2" ng-click="chooseAccountType(0)">INDIVIDUAL</a></li>
        <li><a ui-sref="businessReg" ng-click="chooseAccountType(1)">BUSINESS</a></li>
      </ul>
    </div>

  </div>
</div>