<div class="content">
  <div class="container">
    <ul class="row">
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe1.jpg" alt="0">
          <div class="connect_link_full_top"><a ui-sref="recipe.detail">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe2.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe3.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe4.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe1.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe2.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe3.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe4.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe1.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe2.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe3.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe4.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe1.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe2.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe3.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="box-recipe">
          <img src="images/recipe4.jpg" alt="0">
          <div class="connect_link_full_top"><a href="#">Appetizers</a></div>
        </div>
      </li>

    </ul>
    <div class="text-right">
      <a href="#" class="btn btn-warning">Back to Home</a>
    </div>
  </div>
</div>