<div class="content">
  <div class="container">
    <ul class="row">
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
      <li class="col-sm-3">
        <div class="profile_image_inn">
          <img src="images/profile.png" alt="0">
          <div class="connect_link_full"><a href="#"> Jessica Alba </a></div>
        </div>
      </li>
    </ul>
    <div class="text-right">
      <button fn-go-home="profile.view" class="btn btn-warning">Back to Home</button>
    </div>
  </div>
</div>